SFTP automation/SFTP.ipynb
Ops Plan & Planning Tool/assignment_distribution_planning.ipynb
Ops Plan & Planning Tool/capacity_portion.py
Ops Plan & Planning Tool/capbase_recreation.ipynb
Ops Plan & Planning Tool/create_capbase.py
